body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
  }
  
  .steps {
    display: flex;
    justify-content: space-between;
  }
  
  .step1 {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 0 10px;
    background-color: #fafafa;
    color: palevioletred;
  }
  .step2 {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 0 10px;
    background-color: #fafafa;
    color: purple;
  }
  .step3 {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 0 10px;
    background-color: #fafafa;
    color: orange;
  }
  .step4 {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 0 10px;
    background-color: #fafafa;
    color: rgb(88, 203, 248);
  }
  .step5 {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 0 10px;
    background-color: #fafafa;
    color: rgb(0, 0, 251);
  }
  p {
    color: #555;
  }
  
  .redirect-button {
    margin-top: 20px;
    text-align: center;
  }
  
  .inicial-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #3498db; 
    color: #3498db; 
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .beautiful-button:hover {
    background-color: #3498db; 
    color: #fff; 
  }